* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #404040;
  color: #fff;
}

.contener {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  border-radius: 15%;
}

.left,
.right {
  flex-basis: 50%;
  padding: 1%;
}

textarea {
  width: 100%;
  height: 29%;
  background: #1f1f1f;
  color: #505050;
  padding: 10px 20px;
  border-width: 3px;
  border-color: #ff00e6;
  outline: 0;
  font-size: 18px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  caret-color: #ffff00;
  line-height: 1;
}

#output {
  height: 90%;
  width: 100%;
  background: #e6e6e6;
  color: #1f1f1f;
  border-width: 10px;
  border-color: aqua;
  

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

label i {
  margin-right: 10px;
  margin-left: 10px;
}

label {
  display: flex;
  align-items: center;
  background: #000000a5;
  height: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: 600;
}

.css-selector {
  background: linear-gradient(
    271deg,
    #bbbf42,
    #ca7979,
    #f08484,
    #7076b9,
    #b970a8,
    #70aeb9,
    #7db970
  );
  background-size: 800% 800%;

  -webkit-animation: AnimationName 11s ease infinite;
  -moz-animation: AnimationName 11s ease infinite;
  animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}

button {
  position: relative;
  right: 0;
  border-width: 2px;
}
